 /* my colors for this site will be:
 
 extreme blue: #0D4354
 near blue: #9DF8FA
 middle blend: #3A444A
 near brown: #612500
 extreme brown: #5C4E17
 
 complimentary color scheme */

 @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navBar{
  width: 13vw;
  height: 100vh;
  left: 0;
  background-color: #FAFCFC;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: aliceblue;
  margin-left: .5vw;
  border: solid 1px grey;

}

#dashbody{
  display: inline-flex;
  flex-direction: column;
  background-color: #3A444A;
  height: 100vh;
  width: 80%;
  z-index: 10;
}

#profileDiv{
  width: 22vw;
  height: 100vh;
  right: 0;
  background-color: #FAFCFC;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: .5vw;
  border: solid 1px grey;
}

ul{
  list-style: none;
}




#logoDiv{
  background-image: url('./images/squintLogo.png');
}






#splashPic{
  background-image: url('./images/squintSplash-mono.jpg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: absolute;
  z-index: -10;
}

#splashElements{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #9DF8FA;
  opacity: .85;
}

#splashLogo{
  height: 35vh;
  width: 35vw;
  background-image: url('./images/squintLogo.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 7vh;
}

#signIn{
  border: 2px solid #5C4E17;
  width: 12vw;
  height: 7vh;
  background-color: #0D4354;
  margin-left: 4vh;
  color: #9DF8FA;
  margin-top: 10vh;
  font-family: 'Chelsea Market', cursive;
  font-size: x-large;
  overflow-y: hidden;
}
/*
  border: 2px solid #0D4354;
  background-color: #9DF8FA;
  color: #5C4E17;
*/





#signIn:hover{
  border: 2px solid #0D4354;
  width: 12vw;
  height: 7vh;
  background-color: #5C4E17;
  margin-left: 4vh;
  color: #9DF8FA;
  margin-top: 10vh;
  font-family: 'Chelsea Market', cursive;
  font-size: x-large;
  overflow-y: hidden;
  opacity: .9;
}

#textField{
  font-family: 'Chelsea Market', cursive;
  margin-bottom: 5vh;
  color: #0D4354;
  font-size: xx-large;
  font-weight: bolder;
  width: 70vw;
  margin: 0 auto;
  margin-top: 5vh;
}



#lineDiv{
  border-top: solid 3px #5C4E17;
  width: 12vw;
  margin: 0 auto;
  margin-top: 2vh;
}

#signUp{
  border: 2px solid #5C4E17;
  width: 12vw;
  height: 7vh;
  background-color: #9DF8FA;
  margin-left: 4vh;
  color: #0D4354;
  margin-top: 10vh;
  font-family: 'Chelsea Market', cursive;
  font-size: x-large;
  overflow: hidden;
}

#signUp:hover{
  border: 2px solid #0D4354;
  width: 12vw;
  height: 7vh;
  background-color: #5C4E17;
  margin-left: 4vh;
  color: #9DF8FA;
  margin-top: 10vh;
  font-family: 'Chelsea Market', cursive;
  font-size: x-large;
  overflow-y: hidden;
  opacity: .9;
}

#modalTopButtons{
  display: flex;
  flex-direction: row;
  width: 45vw;
  height: 10vh;
  margin: 0 auto;
}
#modalSignup{
  width: 50%;
  background-color: #0D4354;
  color: #9DF8FA;
  font-family: 'Chelsea Market', cursive;
  font-size: larger;
  margin-top: 2vh;
}

#modalText{
  margin-top: 8vh;
  text-align: center;
  color: #5C4E17;
  font-family: 'Indie Flower', cursive;  font-size: xx-large;
  width: 60vw;
}

#modalLineDiv{
  width: 20vw;
  border-top: 4px solid #0D4354;
  margin: 0 auto;
}

#userName{
border: 2px solid #5C4E17;
width: 40vw;
margin: 0 auto;
margin-top: 5vh;
margin-left: 9.8vw;
height: 4vh;
font-family: 'Chelsea Market', cursive;
font-size: larger;
color: #0D4354;
background-color: #9DF8FA;
}

#userNameTwo{
  border: 2px solid #5C4E17;
  width: 40vw;
  margin: 0 auto;
  margin-top: 5vh;
  margin-left: 9.8vw;
  height: 4vh;
  font-family: 'Chelsea Market', cursive;
  font-size: larger;
  color: #0D4354;
  background-color: #9DF8FA;
  }

#email{
  border: 2px solid #0D4354;
width: 40vw;
margin: 0 auto;
margin-top: 5vh;
margin-left: 9.8vw;
font-size: larger;
height: 4vh;
font-family: 'Chelsea Market', cursive;
color: #0D4354;
background-color: #9DF8FA;
}

#emailTwo{
  border: 2px solid #0D4354;
width: 40vw;
margin: 0 auto;
margin-top: 5vh;
margin-left: 9.8vw;
font-size: larger;
height: 4vh;
font-family: 'Chelsea Market', cursive;
color: #0D4354;
background-color: #9DF8FA;
}

#password{
  border: 2px solid #0D4354;
width: 40vw;
margin: 0 auto;
margin-top: 5vh;
margin-left: 9.8vw;
height: 4vh;
font-family: 'Chelsea Market', cursive;
font-size: larger;
color: #0D4354;
background-color: #9DF8FA;
}


#passwordTwo{
border: 2px solid #0D4354;
width: 40vw;
margin: 0 auto;
margin-top: 5vh;
margin-left: 9.8vw;
height: 4vh;
font-family: 'Chelsea Market', cursive;
font-size: larger;
color: #0D4354;
background-color: #9DF8FA;
}

#modalLogin{
  width: 50%;
  background-color: #3A444A;
  color: #9DF8FA;
  font-family: 'Chelsea Market', cursive;
  font-size: larger;
  margin-top: 2vh; 
}

#modalSubmit{
  width: 25vw;
  margin-top: 4vh; 
  margin-left: 17vw;
  background-color: #0D4354;
  height: 7vh;
  font-family: 'Indie Flower', cursive;  font-size: xx-large;
  color: #9DF8FA;
  font-size: xx-large;
  font-weight: bolder;
}

#modalSubmitTwo{
  width: 25vw;
  margin-top: 4vh; 
  margin-left: 17vw;
  background-color: #0D4354;
  height: 7vh;
  font-family: 'Indie Flower', cursive;  font-size: xx-large;
  color: #9DF8FA;
  font-size: xx-large;
  font-weight: bolder;
}

#modalSubmit:hover{

}

#signOutmodalLineDiv{
  width: 20vw;
  border-top: 4px solid #9DF8FA;
  margin: 0 auto; 
}

#navItems{
  height: 50vh;
  width: 12.9vw;
  display: flex;
  flex-direction: column;
  margin-top: 7.5vh;
}

#topDashText{
  height: 15vh;
  width: 10vw;
}

#yourFocus{
  margin: 0 auto;
  margin-left: 10.5vw;
  width: 50vw;
  height: 22vh;
  background-color: #0D4354;
  border-radius: 20px;
  opacity: 75%;
  border: 1px solid#FAFCFC;
  font-family: 'Indie Flower', cursive;  font-size: xx-large;
  font-family: 'Chelsea Market', cursive;

  color: white;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bolder;
  overflow: hidden;
}

#focusGoal{
  font-family: 'Indie Flower', cursive;  
  font-size: xx-large;
  color: #9DF8FA;
}


#logistics{
  height: 44vh;
  width: 65vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 6vh;
  margin-left: 10.5vw;
}

#calendarDiv{
  height: 90%;
  width: 37%;
  background-color: #FAFCFC;
  opacity: 100%;
  margin-right: 1vw;
  border-radius: 10px;
  border: solid 1px grey;
}

#graphDiv{
  height: 90%;
  width: 37%;
  background-color: #FAFCFC;
  opacity: 100%;
  margin-left: 1vw;
  border-radius: 10px;
  border: solid 1px grey;
}

#bottomButtons{
  width: 50vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  margin-left: 9.8vw;
  margin-bottom: 2vh;
  margin-top: -2vh;
  padding-top: 2px;
}

#goalListButton{
  display: inline-flex;
  flex-direction: column;
  width: 32%;
  height: 65%;
  background-color: black;
  color: #5C4E17;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 1.5vw;
  border-radius: 13px;
  font-family: 'Indie Flower', cursive;  
  font-size: x-large;
  font-weight: bolder;
  border: solid 1px #5C4E17;
  overflow: hidden;
}

#affirmationButton{
  display: inline-flex;
  flex-direction: column;
  width: 32%;
  height: 65%;
  background-color: black;
  color: #5C4E17;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 1.5vw;
  border-radius: 13px;
  font-family: 'Indie Flower', cursive;  
  font-size: x-large;
  font-weight: bolder;
  border: solid 1px #5C4E17;
  overflow: hidden;
}

#affirmationWord{
  margin: 0 auto;
}

#scheduleButton{
  display: inline-flex;
  flex-direction: column;
  width: 32%;
  height: 65%;
  background-color: black;
  color: #5C4E17;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 1.5vw;
  border-radius: 13px;
  font-family: 'Indie Flower', cursive;  
  font-size: x-large;
  font-weight: bolder;
  border: solid 1px #5C4E17;
  overflow: hidden;
}

#navLogo{
  margin-left: 2vw;
  background-image: url('./images/squintLogo.png');
  background-position: 110%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  width: 9vw;
}

#HomeIcon{
  background-image: url('./images/home\ icon.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: contain;
   height: 3.5vh;
   width: 5vw; 
   margin-right: 2.5vw;
}

#Home{
background-image: url('./images/HomeNavHover.png');
background-position: 100%;
 background-size: 100%;
 height: 4vh;
 width: 7vw;
 margin-right: 2vw;
}


#GoalsIcon{
  background-image: url('./images/goalsIcon.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: contain;
   height: 3.5vh;
   width: 5vw; 
   margin-right: 2.5vw;
}

#Goals{
  background-image: url('./images/847c6ea1-2e35-41c5-88ec-4a0a446e89b0_200x200.png');
  background-position: 100%;
   background-size: 100%;
   height: 4vh;
   width: 7vw;
   margin-right: 2vw;
}

#Goals:hover{
  background-image: url('./images/goalsNavHover.png');
  background-position: 100%;
   background-size: 100%;
   height: 4vh;
   width: 7vw;
   margin-right: 2vw;
}

#BooklistIcon{
  background-image: url('./images/booksIcon.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: contain;
   height: 3.5vh;
   width: 5vw; 
   margin-right: 2.5vw;
}

#Booklist{
   background-image: url('./images/booksGrey.png');
   background-position: 100%;
   background-size: 100%;
   height: 4vh;
   width: 7vw;
   margin-right: 2vw;
}

#Booklist:hover{
  background-image: url('./images/booksNavHover.png');
  background-position: 100%;
  background-size: 100%;
  height: 4vh;
  width: 7vw;
  margin-right: 2vw;
}

#affirmationIcon{
  background-image: url('./images/affirmation\ icon.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: contain;
   height: 3.5vh;
   width: 3vw; 
   margin-left: .35vw;
}

#affirmation{
 background-image: url('./images/affirmationGrey.png');
   background-position: 100%;
   background-size: 100%;
   height: 3.5vh;
   width: 7vw;
   margin-left: 1vw; 
}

#affirmation:hover{
  background-image: url('./images/affirmNavHover.png');
    background-position: 100%;
    background-size: 100%;
    height: 3.5vh;
    width: 7vw;
    margin-left: 1vw; 
 }

#Journal{
  background-image: url('./images/navJournal.png');
  background-position: 100%;
  background-size: 100%;
  height: 5vh;
}

#VisionBoard{
  background-image: url('./images/navHome.png');
 background-position: 100%;
 background-size: 100%;
 height: 5vh;
}

#homeNavSpace{
  display: flex;
  flex-direction: row;
margin-right: -.18vw;
}

#homeNavSpace:hover{
  display: flex;
  flex-direction: row;
  border-right: solid #0D4354;
margin-right: -.18vw;
}

#goalNavSpace{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-right: -.18vw;
}

#goalNavSpace:hover{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  border-right: solid #0D4354;
  margin-right: -.18vw;
}

#bookNavSpace{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-right: -.18vw;
}

#bookNavSpace:hover{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  border-right: solid #0D4354;
  margin-right: -.18vw;
}

#affirmationNavSpace{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-right: -.18vw;
}

#affirmationNavSpace:hover{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  border-right: solid #0D4354;
  margin-right: -.18vw;
}

#bottomNavButton{
  width: 10vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  border-radius: 13px;
  background-color: white;
  margin-left: 1.2vw;
  color: #3A444A;
  text-align: center;
  letter-spacing: 1px;
  font-size: small;
  justify-content: center;
  margin-top: 3vh;
  border: solid 2px #3A444A;
}

#logOUtDiv{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-right: -.18vw;
}

#logoutDash{
  background-image: url('./images/greyLogout.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: 100%;
   height: 5vh;
   width: 5vw; 
   margin-left: 3vw;
   margin-top: 1.4vh;
}

#logOutDashIcon{
  background-image: url('./images/logoLightOff.png');
  background-repeat: no-repeat;
  background-position: 100%;
   background-size: contain;
   height: 6vh;
   width: 7vw; 
   margin-left: 3vw;
   color: grey;
   padding-bottom: .3em;
}

#profilePic{
  width: 10.5vw;
  height: 20vh;
  border: solid 2px;
  margin-left: 6vw;
  margin-top: 3vh;
  border-radius: 80px;
}

#entireSplash{
  z-index: 5;
  position: fixed;
  display: visible;
}